# Ignore all workspace history crap files created by the IDE
.*
# Ignoring all .pyc files created while compiling
*.pyc
# Ignoring .xml files created while saving
*.xml
# Igoring some test data files
mnist.pkl.gz
# Ignoring the lasagne repo
src
# Ignoring build folders
build